body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: rgb(50, 50, 50);
  overflow: hidden;
}

#highscore-list {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 22%;
  max-height: 65%;
  max-width: 420px;
  min-width: 300px;
  border: solid;
  border-color: white;
  border-radius: 5px;
  box-shadow: gold 0px 0px 5px;
  padding: 20px 25px 30px 25px;
  color: white;
  display: flex;
}

#highscore-list table {
  width: 100%;
  font-size: 30px;
  align-self: center;
}
tr {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: white 0px 0px 3px;
}

h2 {
  text-align: center;
  color: white;
  text-shadow: gold 0px 0px 3px;
}

#title-text {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}

.first-place,
.second-place,
.third-place {
  font-weight: 500;
  font-size: 30px;
}

.first-place {
  text-shadow: gold 0px 0px 3px;
}

.second-place {
  text-shadow: silver 0px 0px 3px;
}

.third-place {
  text-shadow: #cd7f32 0px 0px 3px;
}
