body {
  padding: 0;
  margin: 0;
  background-color: rgb(50, 50, 50);
  overflow: hidden;
}
#info-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

#info-container h1 {
  text-shadow: white 0px 0px 3px;
}

a {
  padding: 5px;
  text-decoration: none;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: white;
}

#github-icon {
  background-image: url("github-mark-white.svg");
  margin: 0 auto;
  margin-top: 150px;
  padding-right: 0.5px;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background-size: cover;
  box-shadow: white 0px 0px 5px;
}
a:hover {
  box-shadow: white 0px 0px 5px;
  text-shadow: white 0px 0px 5px;
}
