body {
  padding: 0;
  margin: 0;
  background-color: rgb(50, 50, 50);
}
#info-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

#creators {
  margin-bottom: 150px;
}

a {
  padding: 5px;
  text-decoration: none;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: white;
}

#github-icon {
  background-image: url("github-mark-white.svg");
  margin: 0 auto;
  height: 50px;
  width: 52px;
  border: none;
  background-size: cover;
}
