body {
  padding: 0;
  margin: 0;
  background-color: rgb(50, 50, 50);
}
#unity-container {
  position: absolute;
}
#unity-container.unity-desktop {
  left: 65%;
  top: 52%;
  transform: translate(-50%, -50%);
}
#unity-container.unity-mobile {
  position: fixed;
  width: 0%;
  height: 0%;
  /* width: 100%;
  height: 100%; */
}
#unity-canvas {
  background: #231f20;
  border-radius: 1%;
}
.unity-mobile #unity-canvas {
  width: 0%;
  height: 0%;
  /* width: 100%;
  height: 100%; */
}
#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#unity-logo {
  width: 154px;
  height: 130px;
  background: url("unity-logo-dark.png") no-repeat center;
}
#unity-progress-bar-empty {
  width: 141px;
  height: 18px;
  margin-top: 10px;
  margin-left: 6.5px;
  background: url("progress-bar-empty-dark.png") no-repeat center;
}
#unity-progress-bar-full {
  width: 0%;
  height: 18px;
  margin-top: 10px;
  background: url("progress-bar-full-dark.png") no-repeat center;
}
#unity-footer {
  position: relative;
}
.unity-mobile #unity-footer {
  display: none;
}
#unity-webgl-logo {
  float: left;
  width: 204px;
  height: 38px;
  background: url("webgl-logo.png") no-repeat center;
}
#unity-build-title {
  float: right;
  margin-right: 10px;
  line-height: 38px;
  font-family: arial;
  font-size: 18px;
}
#unity-fullscreen-button {
  transform: translate(0px, -42px);
  cursor: pointer;
  float: right;
  width: 38px;
  height: 38px;
  border-radius: 5%;
  background: url("fullscreen-button.png") no-repeat center;
}
#unity-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none;
}
#info-container {
  position: absolute;
  left: 16%;
  top: 49%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

#info-container h1 {
  text-shadow: white 0px 0px 3px;
}

a {
  padding: 5px;
  text-decoration: none;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: white;
}

#highscores {
  text-shadow: gold 0px 0px 3px;
}

#github-icon {
  background-image: url("github-mark-white.svg");
  margin: 0 auto;
  margin-top: 150px;
  padding-right: 0.5px;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background-size: cover;
  box-shadow: white 0px 0px 5px;
}
a:hover {
  box-shadow: white 0px 0px 5px;
  text-shadow: white 0px 0px 5px;
}
